<div class="container-fluid">
    <h1 id="title">{{title}}</h1>
    <div class="container-fluid custom-column">
        <h2>Search Shelters</h2>
        <form class="form-group" action="" method="">
            <input type="text" id="city" name="city" class="form-control" placeholder="City">
            <input type="text" id="state" name="state" class="form-control" placeholder="State">
            <label for="passengers">Passengers</label> 
            <select id="passengers" name="passengers">
                <option value="0">0</option> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
            </select><br>
            <label for="pets">Pets</label> 
            <select id="pets" name="pets">
                <option value="0">0</option> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option> 
            </select><br>
        </form>
        <button onclick="filterSearch('{{this.forum}}')" id="search" class="btn btn-default">Search</button>
    </div>
</div>
<div id="postsDiv" class="container-fluid">
</div>
