<div class="container-fluid">
    <h1>Evacuation App</h1>
    <h5>Helping Volunteers and Evacuees Connect</h5>
    <div> 
        <div>
            <a href="/leaving" class="list-group-item">
                <div>
                    <h3>Leaving</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/arriving" class="list-group-item">
                <div>
                    <h3>Arriving</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/waiting" class="list-group-item">
                <div>
                    <h3>Waiting</h3>
                </div>
            </a>
        </div>
    </div>
</div>
