<div class="container-fluid">
    <h1 class="title-header">Evacuation App</h1>
    <h5 class="title-header">Helping Volunteers and Evacuees Connect</h5>
    <div class="home-container" id="list"> 
        <div>
            <a href="/" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Leaving</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Arriving</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Waiting</h3>
                </div>
            </a>
        </div>
    </div>
</div>
