<FORM action='/insertUserAccount' method='get'>
	<p>
		Password: <input type='text' name='passwords'>
		Last Name:<input type='text' name='lname'>
		Frist Name:<input type='text' name='fname'>
		URL Picture:<input type='text' name='picture'><br>
		Age:<input type='text' name='age'><br>
		Phone:<input type='text' name='phone'>
		Email:<input type='text' name='email'><br>
		<input type='submit' value='send'>
	</p>
</FROM>
