#video {
    position: absolute;
    height:  100%;
    width: 100%;
}
/* 
#cover-h1 {
    font-family: 'Sanchez', serif;
} */

#horiz-nav {
    background-color: rgba(0, 46, 102, 0.8);
}

#nav-text {
    color: white;
}

#nav-bar {
    background-color: white;
}

.navbar {
    margin-bottom: 5px;
}

h4 {
    margin-top: initial;
    margin-bottom: 4rem;
}

.home-header {
    margin-top: -5px;
}